html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
}

.banner {
	height: 80vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.jpg);
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 10vh;
}

.logo{
	font-family: 'Philosopher', sans-serif;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

.hide {
	position: fixed;
	top: 63px;
	z-index: 1;
 }

main {
	position: absolute;
	top: 105vh;
}

.main {
	position: absolute;
	top: 10vh;
}

hr {
	border-color: #d69e2e;
}

footer {
	background-color: #fffff0; 
	color: gray; 
	font-size: 1em; 
	padding: 50px; 
	text-align: center; 
	position: relative; 
	top: 550vh;
}